html,body,p,ul,li,h1,input,form {
	margin: 0;
	padding: 0;
}

body,input {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

body {
	background: white;
}

ul,li {
	list-style: none;
}

img {
	border: none;
}

a {
	color: #03309D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.gray {
	color: #868686;
}

.red {
	color: red;
}

.f_size {
	font-size: 12px;
}

.b_size {
	font-size: 14px;
}
